# (c) 2013, Petros Moisiadis <ernest0x@yahoo.gr>
#
# ganeti-backup is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# ganeti-backup is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with ganeti-backup.  If not, see <http://www.gnu.org/licenses/>.

GANETI_RAPI_HOST = '{{ master_node }}'
GANETI_RAPI_PORT = 5080
GANETI_RAPI_USERNAME = 'backup'
GANETI_RAPI_PASSWORD = '{{ rapi_users.backup.password }}'

REPORT_ACTIONS = [{% if report_actions %}'{{ report_actions|join(",\'") }}'{% endif %}]

SMTP_HOST = '{{ smtp_host }}'
SMTP_PORT = {{ smtp_port }}
SMTP_AUTH_USER = '{{ smtp_auth_user }}'
SMTP_AUTH_PASSWORD = '{{ smtp_auth_password }}'
EMAIL_FROM = '{{ server_email }}'
EMAIL_TO = ['{{ admin_email }}']

EXPORTS_ROOT = '{{ instances_export_rootpath }}'
EXPORT_FORMAT = '{{ instances_export_format }}'
EXPORT_METHOD = '{{ instances_export_method }}'

EXPORTS = {
{% for instance in instances %}
    '{{ instance.name }}': [
{% for export in instance.exports %}
        {
            'disk': {{ export.disk }},
            'partitions': {% if '[' in export.partitions %}{{ export.partitions }}{% else %}'{{ export.partitions }}'{% endif %}
        }{% if not loop.last %},{% endif %}
{% endfor %}
    ]{% if not loop.last %},{% endif %}
{% endfor %}
}

# vim: set filetype=python expandtab tabstop=4 shiftwidth=4 autoindent smartindent:
